<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close(state)"></button>
</div>
<div class="modal-body">
  <div [ngSwitch]="state">
    <app-users *ngSwitchCase="'1'" [data]="event"></app-users>
    <app-add-orders *ngSwitchCase="'2'"></app-add-orders>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close(state)">
    Close
  </button>
</div>